/* --------------------------------------------------------------
GENERAL ELEMENTS
-------------------------------------------------------------- */
/*body {	
	margin-top: 25px;
	font-family: Arial, sans-serif; 
	color: #456; 
	font-size: 11pt; 
	line-height: 1.2; 
	font-weight: 300;
	position: relative;
}*/

/* HEADINGS */

/*h1 {
	font-size: 1.5em;
}*/

/*h1, h2, h3, h4, h5, h6 { 
	font-family:  Helvetica, Arial, sans-serif;
	color: #20303d; 
	line-height: 1.2; 
	margin: 0 0 10px; 
	text-transform: uppercase;
}*/

/*h2 {
	text-align: left;
	margin-left: 25px;
}*/

/*h3 {
	text-align: center;
}*/



/* --------------------------------------------------------------
LAYOUT
-------------------------------------------------------------- */

































